{
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": ["@prettier/plugin-xml"],
  "overrides": [
    {
      "files": "*.ejs",
      "options": {
        "parser": "html"
      }
    }
  ]
}
