<nav>
  <ul id="navigation">
    <li class="nav_items"><a href="<%= OTS_MEMO_URL %>">OTS MEMO</a></li>
    <li class="nav_items"><a href="<%= OTS_SLIP_URL %>">OTS SLIP</a></li>
    <li class="nav_items">
      <a href="<%= VIJAY_ANDRA_MEMO_URL %>">VARL MEMO</a>
    </li>
    <li class="nav_items">
      <a href="<%= VIJAY_ANDRA_SLIP_URL%>">VARL SLIP</a>
    </li>
  </ul>
</nav>
