name: Unit and E2E Tests

on:
  pull_request:
    branches:
      - OTS_nest_v3

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.run_branch }}


      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.11.1
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Run unit tests
        env:
          CI: true
        run: npm test

      - name: Run e2e tests
        env:
          CI: true
        run: npm run test:e2e
